/* Mikhail Nikipelov — http://desir.me/ */

@import url(bootstrap.min.css);
@import url(reset.css);
@import url(animations.css);

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,400&subset=latin,cyrillic);

/* basics */

input,
select,
textarea,
button {
  vertical-align: top;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
textarea {
  overflow: auto;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}
:-moz-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}

body {
	font: 400 16px/24px 'Roboto Slab', serif;
	color: #424242;
    text-rendering: optimizeLegibility;
}
a:focus, img:focus, select:focus, input:focus, textarea:focus, checkbox:focus {
    outline: inherit;
}

a {
    color: #0062a6;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
    a:hover {
        color: #c00;
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
    a:focus {
        text-decoration: none;
    }

p+p {
    margin: 15px 0 0 0;
}

img {
    width: 100%;
    height: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    
    select {
        -webkit-appearance: none;
        border-radius: 0;
        display: inline-block;
        position: relative;
        background: url('../img/webkit-drop-arrow.png') right center no-repeat;
    }
    
}

input, textarea, select {
    width: 100%;
    border: 1px solid #b6b6b6;
    padding: 6px 10px;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
    input:focus, textarea:focus, select:focus {
        border: 1px solid #b6936b !important;
    }



/* buttons */

.btn {
    display: inline-block;
    background: #638e2b;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
    .btn:hover {
        background: #77af2e;
        color: #fff;
        text-decoration: none;
    }
    .btn:active {
        background: #46651e;
        text-decoration: none;
    }
    .btn:focus {
        color: #fff;
    }

.btn.testimonial-submit {
    background: #654529;
    float: right;
}
    .btn.testimonial-submit:hover {
        background: #8b603a;
    }
    .btn.testimonial-submit:active {
        background: #432e1b;
    }

.btn.testimonial-all {
    background: transparent;
    border: 2px solid #fff;
    margin: 30px 0 0 0;
}
    .btn.testimonial-all:hover {
        background: #fff;
        color: #654529;
    }
    .btn.testimonial-all:active {
        background: #fff;
        color: #654529;
    }

.minimize {
    letter-spacing: -2px;
}



/* headers */

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 300;
    position: relative;
    display: inline-block;
    margin: 0 0 50px 0;
}
    h2:before {
        display: block;
        content: '';
        width: 80px;
        border-bottom: 1px solid;
        position: absolute;
        left: -100px;
        top: 15px;
    }
    h2:after {
        display: block;
        content: '';
        width: 80px;
        border-bottom: 1px solid;
        position: absolute;
        right: -100px;
        top: 15px;
    }



/* vertical middle */

.table {
    display: table;
    width: 100%;
}
    .tablecell {
        display: table-cell;
        vertical-align: middle;
        height: 600px;
    }



/* header */

#welcome {
    position: relative;
    padding: 105px 0 0 0;
    
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
    #welcome .nav {
        background: #f2f2f2;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
    }
        #welcome .nav .menu {}
            #welcome .nav .menu ul {}
                #welcome .nav .menu ul li {
                    display: inline-block;
                    margin-right: -4px;
                }
                    #welcome .nav .menu ul li a {
                        display: block;
                        padding: 20px 15px;
                        color: #424242;
                        font-size: 18px;
                    }
                        #welcome .nav .menu ul li a:hover {
                            background: #424242;
                            color: #f2f2f2;
                        }

    #welcome .search {
        background: url(../img/icon-search.png) right top no-repeat;
        background-size: 30px 100px;
        padding-right: 35px;

        -webkit-transition: background-position 0.2s ease;
        -moz-transition: background-position 0.2s ease;
        -ms-transition: background-position 0.2s ease;
        -o-transition: background-position 0.2s ease;
        transition: background-position 0.2s ease;
    }
        #welcome .search:focus {
            background: url(../img/icon-search.png) right bottom no-repeat;
            background-size: 30px 100px;
        }
    #welcome .logo {
        display: block;
        background: url(../img/logo.png) center center no-repeat;
        background-size: 128px 140px;
        width: 100%;
        height: 140px;
        margin: -15px 0 0 0;
        text-indent: -314em;
    }
    #welcome a[href*=tel] {
        color: #424242;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -1px;
        white-space: nowrap;
        line-height: 36px;
    }
        #welcome a[href*=tel]:first-child:before {
            display: block;
            content: '';
            background: url(../img/icon-tel.png) no-repeat;
            background-size: 20px 25px;
            width: 20px;
            height: 25px;
            position: absolute;
            top: 7px;
            left: -25px;
        }
    #welcome a[href*=record] {
        color: #638e2b;
        font-size: 18px;
        text-decoration: underline;
        display: inline-block;
        margin: 20px 0 0 0;
    }
        #welcome a[href*=record]:hover {
            color: #3a5812;
        }

/* content */

.content {
    position: relative;
    padding: 55px 0;
}
.content, .footer {
    -webkit-transform: translate3d(0, 0, 0);
}

/* about */

#about {
    padding: 0;
    margin: 65px 0;
}

    #about .tab-group {
        position: relative;
        border: 1px solid #b6936b;
        height: 552px;
    }

        #about .tab-group .tab-content {
            padding: 20px;
        }
            #about .tab-group .tab-content .slider {}
                #about .tab-group .tab-content .slider .slide {
                    height: 570px;
                }
                    #about .tab-group .tab-content .slider .slide .img {
                        height: 510px;
                    }
                    #about .tab-group .tab-content .slider .slide .text {
                        padding: 30px 35px;
                        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
                        z-index: 2;
                        position: absolute;
                        bottom: -40px;
                        background: #fff;
                        width: 100%;
                    }
                        #about .tab-group .tab-content .slider .slide .text:before {
                            display: block;
                            content: '';
                            width: 100%;
                            height: 6px;
                            border: 3px solid transparent;
                            border-bottom-color: #e9e9e9;
                            position: absolute;
                            margin: -35px 0 0 -35px;
                        }

        #about .tab-group .tab-captions {
            position: absolute;
            width: 100%;
            top: -35px;
        }
            #about .tab-group .tab-captions .tab-caption {
                display: block;
                background: #f5f5f5;
                text-align: center;
                border: 1px solid #c8c8c8;
                border-top-width: 2px;
                border-bottom-color: #b6936b;
                color: #706f6f;
                padding: 5px 0;
                height: 35px;
            }
                #about .tab-group .tab-captions .tab-caption:hover {
                    border-color: #b6936b;
                }
                #about .tab-group .tab-captions .tab-caption.active {
                    border-color: #b6936b;
                    color: #976f41;
                    background: #fff;
                    border-bottom: 1px solid #fff;
                }



/* testimonials */

#testimonials {
    background: #b29068 url(../img/bg-testimonials.jpg);
    color: #fff;
    text-align: center;
}
    #testimonials .cards {
/*        margin: 0 0 40px 0;*/
        cursor: url(../img/hand.png) 0 0, default;
        text-align: left;
    }
        #testimonials .cards .testimonial {
            color: #424242;
            margin: 0 10px;
            padding: 0 0 5px 0;
            }
            #testimonials .cards .testimonial.form {
                padding: 0;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
            }
            #testimonials .cards .testimonial .text {
                padding: 25px 30px;
                background: #fff;
            }
                #testimonials .cards .testimonial .text textarea {
                    height: 130px;
                    margin: 0 0 20px 0;
                    resize: vertical;
                }
            #testimonials .cards .testimonial .person {
                padding: 15px 30px;
                background: #fae5ce;
                box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.15);
            }
                #testimonials .cards .testimonial .person .avatar {
                    width: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: inline-block;
                    margin: 0 15px 0 0;
                }
                #testimonials .cards .testimonial .person .name {
                    font-weight: 700;
                    width: 80px;
                    display: inline-block;
                    line-height: 21px;
                    position: relative;
                    top: -7px;
                }



/* our-doctors */

#our-doctors {
    text-align: center;
}

    #our-doctors h2 {
        color: #706f6f;
    }

    #our-doctors .doctors {}
        #our-doctors .doctors .doctor {
            margin: 0 65px;
        }
            #our-doctors .doctors .doctor .photo {
                width: 180px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto 30px auto;
            }
            #our-doctors .doctors .doctor .name {
                font-size: 24px;
                font-weight: 700;
            }
            #our-doctors .doctors .doctor .position {
                font-size: 14px;
                color: #706f6f;
                margin: 0 0 10px 0;
                line-height: 17px;
            }
            #our-doctors .doctors .doctor .description {
                font-size: 18px;
            }



/* fellows */

#fellows {
    background: url('../img/bg-fellows.jpg');
    text-align: center;
}
    #fellows h2 {
        color: #706f6f;
    }

    #fellows .fellows {}
        #fellows .fellows .fellow {
            margin: 0 65px;
        }
            #fellows .fellows .fellow .photo {
                width: 180px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto 30px auto;
            }
            #fellows .fellows .fellow .name {
                font-size: 18px;
                font-weight: 700;
            }
            #fellows .fellows .fellow .position {
                font-size: 14px;
                color: #706f6f;
                margin: 0 auto 10px auto;
                max-width: 450px;
                line-height: 17px;
            }
            #fellows .fellows .fellow .description {
                max-width: 800px;
                margin: 0 auto;
            }



/* record */

#record {
    text-align: center;
}
    #record h2 {
        color: #638e2b;
    }
    #record input, #record select {
        margin: 0 0 20px 0;
    }
    #record .date-and-time {
        position: absolute;
        z-index: 1;
        width: 200px;
        margin: 0 0 7px -15px;
        bottom: 100%;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    }
        #record .date-and-time .date, #record .date-and-time .time {
            position: relative;
            padding: 12px 0;
        }
            #record .date-and-time .date {
                border: 1px solid #bfbfbf;
                border-bottom: 0;
                background: #f5f5f5;
            }
            #record .date-and-time .time {
                background: #638e2b;
                color: #fff;
            }
                #record .date-and-time .time:after {
                    display: block;
                    content: '';
                    width: 14px;
                    height: 14px;
                    border: 7px solid transparent;
                    border-top-color: #638e2b;
                    position: absolute;
                    left: 50%;
                    bottom: -14px;
                    margin: 0 0 0 -7px;
                }
                #record .date-and-time .time.accupaed .is-accupaed {
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background: rgba(194, 15, 15, 0.5);
                    font-size: 12px;
                    padding: 6px 0;
                }
            #record .date-and-time .time.accupaed {
                background: #c20f0f;
            }
                #record .date-and-time .time.accupaed:after {
                    border-top-color: #c20f0f;
                }
                #record .date-and-time .time.accupaed .is-accupaed {
                    opacity: 1;
                }
        #record .date-and-time .controls {
            position: absolute;
            top: 15px;
            z-index: 2;
        }
            #record .date-and-time .controls.left {
                left: 0;
            }
            #record .date-and-time .controls.right {
                right: 0;
            }
                #record .date-and-time .controls .increase, #record .date-and-time .controls .decrease {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    background: rgba(0, 0, 0, 0.2);
                    color: #fff;
                    -webkit-transition: background-color 0.2s ease;
                    -moz-transition: background-color 0.2s ease;
                    -ms-transition: background-color 0.2s ease;
                    -o-transition: background-color 0.2s ease;
                    transition: background-color 0.2s ease;
                }
                    #record .date-and-time .controls .increase:hover, #record .date-and-time .controls .decrease:hover {
                        background: rgba(0, 0, 0, 0.7);
                    }
                #record .date-and-time .time.accupaed .controls .increase, #record .date-and-time .time.accupaed .controls .decrease {
                    background: rgba(255, 255, 255, 0.2);
                }
                    #record .date-and-time .time.accupaed .controls .increase:hover, #record .date-and-time .time.accupaed .controls .decrease:hover {
                        background: rgba(255, 255, 255, 0.7);
                    }
                #record .date-and-time .controls .increase {
                    margin: 0 0 1px 0;
                }


/* every-one-should-know */

#every-one-should-know {
    border-top: 10px solid #b6936b;
    border-bottom: 10px solid #b6936b;
    text-align: center;
    background: url('../img/flower.jpg') 0 60px no-repeat;
    background-size: 420px 432px;
}
    #every-one-should-know h2 {
        color: #b6936b;
    }

    #every-one-should-know .tab-group {}

        #every-one-should-know .tab-group .tab-captions {
            margin: 0 0 50px 0;
        }
            #every-one-should-know .tab-group .tab-captions .tab-caption {
                font-size: 18px;
                color: #000;
                font-weight: 400;
                border-bottom: 1px dashed;
                margin: 0 15px;
            }
                #every-one-should-know .tab-group .tab-captions .tab-caption:hover {}
                #every-one-should-know .tab-group .tab-captions .tab-caption.active {
                    font-weight: 700;
                    border-bottom: 0;
                }

        #every-one-should-know .tab-group .tab-content {}
            #every-one-should-know .tab-group .tab-content #articles {}
                #every-one-should-know .tab-group .tab-content #articles .article {
                    background: #f2f2f2;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
                    text-align: left;
                    padding: 20px;
                    width: 22.5%;
                    margin: 0 1% 20px 1%;
                }
                    #every-one-should-know .tab-group .tab-content #articles .article h3 {
                        font-size: 18px;
                        margin: 0 0 10px 0;
                    }
                    #every-one-should-know .tab-group .tab-content #articles .article p {
                        font-size: 14px;
                    }
                    #every-one-should-know .tab-group .tab-content #articles .article p+p {
                        margin: 10px 0 0 0;
                    }
                    #every-one-should-know .tab-group .tab-content #articles .article a {
                        font-size: 14px;
                        color: #a96c26;
                        text-decoration: underline;
                        margin: 10px 0 0 0;
                        display: inline-block;
                    }
                        #every-one-should-know .tab-group .tab-content #articles .article a:after {
                            display: inline-block;
                            content: '→';
                            margin: 0 0 0 3px;
                        }
                        #every-one-should-know .tab-group .tab-content #articles .article a:hover {
                            color: #d97605;
                        }



/* faq */

#faq {
    text-align: center;
}
    #faq .accordion {
        text-align: left;
    }
    #faq .accordion h3 {
        font-size: 21px;
        font-weight: 700;
        cursor: pointer;
        display: inline;
        border-bottom: 1px dashed;
    }
        #faq .accordion h3:after {
            content: "";
            display: block;
            margin: 15px 0 0 0;
        }
        #faq .accordion h3+div {
            padding: 0 0 35px 0;
        }



/* contacts */

#contacts {
    background: #444 url('../img/bg-contacts.jpg');
    color: #fff;
    text-align: center;
    padding-bottom: 0;
}
    #contacts .container {
        text-align: left;
    }
    #contacts .icon {
        font-size: 18px;
        padding: 0 0 0 50px;
        margin: 0 0 20px 0;
    }
        #contacts .icon:before {
            display: block;
            content: '';
            width: 30px;
            height: 30px;
            position: absolute;
            left: 20px;
            background: url('../img/icons.png') no-repeat;
            background-size: 120px 30px;
        }
            #contacts .icon.tel:before {
                background-position: -30px 0;
            }
            #contacts .icon.email:before {
                background-position: -60px -2px;
            }
            #contacts .icon.skype:before {
                background-position: -90px 0;
            }
    #contacts a[href*=tel] {
        color: #fff;
        white-space: nowrap;
    }
    #contacts form {}
        #contacts form textarea, #contacts form input {
            border: 1px solid transparent;
        }
        #contacts form textarea {
            height: 140px;
            resize: none;
        }
        #contacts form input {
            margin: 0 0 12px -8px;
        }
        #contacts form .btn {
            margin: 0 0 0 -8px;
        }
    #contacts .map {
        margin: 40px 0 0 0;
    }



/* footer */

.footer {
    position: relative;
    background: #444 url('../img/bg-contacts.jpg');
    color: #fff;
}
    .footer .wrapper {
        background: rgba(0, 0, 0, 0.35);
        padding: 20px 0;
    }



/* fixes */

.gecko {
}

.opera {
}

.mobile {
}



/* media */

@media only screen and (max-width: 1199px) {
    


}

@media only screen and (max-width: 991px) {


    
}

@media only screen and (max-width: 767px) {

}